# EDA for assesment data

In [1]:
import json
import pandas as pd
import numpy as np
from pprint import pformat
import matplotlib.pyplot as plt

### Load JSON data

In [2]:
with open('../data/assessment_data.json', 'r') as file:
    data = json.load(file)
df = pd.DataFrame(data)

print(df.head())

         Country DeviceCategory EngagementRate  \
0          India        desktop       0.545455
1  United States        desktop       0.032258
2  United States        desktop       0.689655
3  United States        desktop       0.720000
4  United States        desktop       0.615385

                               LandingPage  NewUsers  ScreenPageViews  \
0                /blog/what-is-kra-and-kpi        39               46
1                                (not set)         0                0
2  /blog/google-sheets-dashboard-templates        24               37
3        /blog/excel-interactive-dashboard        21               30
4             /blog/kpi-dashboard-in-excel        11               15

  SessionMedium  Sessions  TotalUsers  UserEngagementDuration  \
0       organic        44          40                    2526
1       organic        31          30                     285
2       organic        29          27                    1072
3       organic        25          25                    1162
4       organic        13          12                     768

                            date
0  Wed, 01 May 2024 00:00:00 GMT
1  Wed, 01 May 2024 00:00:00 GMT
2  Wed, 01 May 2024 00:00:00 GMT
3  Wed, 01 May 2024 00:00:00 GMT
4  Wed, 01 May 2024 00:00:00 GMT

### Preprocessing the data

In [3]:
df['date'] = pd.to_datetime(df['date'], format='%a, %d %b %Y %H:%M:%S GMT')

# from string to appropriate numeric types
numeric_columns = ['EngagementRate', 'NewUsers', 'ScreenPageViews', 'Sessions', 'TotalUsers', 'UserEngagementDuration']
remaining_columns = ['Country', 'DeviceCategory', 'LandingPage', 'SessionMedium', 'date']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

### EDA

In [4]:
df.shape

(39850, 11)

In [5]:
df.describe()

,EngagementRate,NewUsers,ScreenPageViews,Sessions,TotalUsers,UserEngagementDuration,date
count,39850.000000,39850.000000,39850.000000,39850.000000,39850.000000,39850.000000,39850
mean,0.487218,1.443463,5.040502,1.948507,2.844918,81.836161,2024-06-15 19:08:44.868256
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2024-05-01 00:00:00
25%,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2024-05-22 00:00:00
50%,0.500000,1.000000,1.000000,1.000000,1.000000,9.000000,2024-06-16 00:00:00
75%,1.000000,1.000000,2.000000,2.000000,1.000000,71.000000,2024-07-10 00:00:00
max,1.000000,272.000000,2342.000000,273.000000,522.000000,8283.000000,2024-07-31 00:00:00
std,0.468128,3.127523,66.340036,3.642939,20.749115,259.995549,NaN

In [6]:
df.describe(exclude=np.number)

,Country,DeviceCategory,LandingPage,SessionMedium,date
count,39850,39850,39850,39850,39850
unique,198,4,91,6,NaN
top,United States,desktop,/blog/google-sheets-dashboard-templates,organic,NaN
freq,5198,29557,3677,30276,NaN
mean,NaN,NaN,NaN,NaN,2024-06-15 19:08:44.868256
min,NaN,NaN,NaN,NaN,2024-05-01 00:00:00
25%,NaN,NaN,NaN,NaN,2024-05-22 00:00:00
50%,NaN,NaN,NaN,NaN,2024-06-16 00:00:00
75%,NaN,NaN,NaN,NaN,2024-07-10 00:00:00
max,NaN,NaN,NaN,NaN,2024-07-31 00:00:00

In [8]:
print("Missing value counts:")
print(df.isnull().sum())

Missing value counts:
Country                   0
DeviceCategory            0
EngagementRate            0
LandingPage               0
NewUsers                  0
ScreenPageViews           0
SessionMedium             0
Sessions                  0
TotalUsers                0
UserEngagementDuration    0
date                      0
dtype: int64

In [9]:
df['date'].value_counts()

date
2024-07-30    597
2024-05-15    594
2024-07-18    571
2024-07-24    570
2024-05-14    564
             ...
2024-06-23    244
2024-06-30    238
2024-06-22    219
2024-06-15    216
2024-06-16    194
Name: count, Length: 92, dtype: int64

In [10]:
print(df['date'].min())
print(df['date'].max())

2024-05-01 00:00:00
2024-07-31 00:00:00

In [11]:
df.nunique(axis=0)

Country                    198
DeviceCategory               4
EngagementRate             188
LandingPage                 91
NewUsers                    61
ScreenPageViews            163
SessionMedium                6
Sessions                    66
TotalUsers                 135
UserEngagementDuration    1207
date                        92
dtype: int64

In [12]:
print(sorted(df['DeviceCategory'].unique()))
print(sorted(df['SessionMedium'].unique()))

['desktop', 'mobile', 'smart tv', 'tablet']
['(none)', '(not set)', 'cpc', 'email', 'organic', 'referral']

In [13]:
device_category_counts = df['DeviceCategory'].value_counts().to_dict()
sorted_device_category_counts = dict(sorted(device_category_counts.items()))
print(sorted_device_category_counts)
session_medium_counts = df['SessionMedium'].value_counts().to_dict()
sorted_session_medium_counts = dict(sorted(session_medium_counts.items()))
print(sorted_session_medium_counts)

{'desktop': 29557, 'mobile': 9994, 'smart tv': 4, 'tablet': 295}
{'(none)': 7550, '(not set)': 181, 'cpc': 2, 'email': 8, 'organic': 30276, 'referral': 1833}

In [14]:
country_base_data = df.groupby('Country')['Sessions'].sum().reset_index()
device_base_data = df.groupby('DeviceCategory')['Sessions'].sum().reset_index()

In [15]:
device_base_data

  DeviceCategory  Sessions
0        desktop     60112
1         mobile     17217
2       smart tv         5
3         tablet       314

In [16]:
country_counts = df['Country'].value_counts().to_dict()
country_counts

{'United States': 5198,
 'India': 3669,
 'United Kingdom': 2449,
 'Canada': 1799,
 'Australia': 1720,
 'Indonesia': 1466,
 'Philippines': 1312,
 'Germany': 1021,
 'Malaysia': 953,
 'South Africa': 764,
 'Netherlands': 751,
 'Singapore': 702,
 'Saudi Arabia': 694,
 'France': 687,
 'Pakistan': 667,
 'United Arab Emirates': 667,
 'Ireland': 651,
 'New Zealand': 651,
 'Brazil': 646,
 'Thailand': 580,
 'Egypt': 547,
 'Türkiye': 537,
 'Spain': 529,
 'Vietnam': 492,
 'Nigeria': 479,
 'Mexico': 441,
 'Italy': 434,
 'Kenya': 320,
 'Poland': 296,
 'Bangladesh': 279,
 'Hong Kong': 240,
 'Russia': 239,
 'Portugal': 237,
 'Belgium': 234,
 'Japan': 228,
 'Sri Lanka': 221,
 'Sweden': 221,
 'Israel': 221,
 'Switzerland': 202,
 'Argentina': 197,
 'Ukraine': 193,
 'South Korea': 187,
 'Denmark': 179,
 'Colombia': 179,
 'Qatar': 172,
 'Austria': 169,
 'China': 163,
 'Romania': 160,
 'Taiwan': 145,
 'Morocco': 137,
 'Finland': 120,
 'Chile': 120,
 'Hungary': 119,
 'Oman': 115,
 'Peru': 115,
 'Greece': 115,
 'Ghana': 112,
 'Norway': 112,
 'Ethiopia': 112,
 'Czechia': 111,
 '(not set)': 107,
 'Cambodia': 97,
 'Nepal': 96,
 'Bulgaria': 95,
 'Jordan': 84,
 'Serbia': 77,
 'Algeria': 75,
 'Kuwait': 75,
 'Slovakia': 74,
 'Tunisia': 74,
 'Tanzania': 73,
 'Lebanon': 70,
 'Zimbabwe': 68,
 'Jamaica': 68,
 'Papua New Guinea': 67,
 'Azerbaijan': 57,
 'Lithuania': 55,
 'Mauritius': 55,
 'Myanmar (Burma)': 54,
 'Venezuela': 53,
 'Bahrain': 53,
 'Kazakhstan': 50,
 'Trinidad & Tobago': 50,
 'Uganda': 49,
 'Dominican Republic': 49,
 'Luxembourg': 47,
 'Mongolia': 46,
 'Zambia': 45,
 'Malta': 44,
 'Croatia': 43,
 'Botswana': 43,
 'Panama': 43,
 'Georgia': 41,
 'Cyprus': 40,
 'Ecuador': 39,
 'Costa Rica': 37,
 'Iran': 36,
 'Armenia': 36,
 'Uzbekistan': 35,
 'Belarus': 34,
 'Uruguay': 34,
 'Guatemala': 33,
 'Puerto Rico': 33,
 'Congo - Kinshasa': 33,
 'Estonia': 32,
 'Slovenia': 31,
 'Côte d’Ivoire': 30,
 'Brunei': 30,
 'Rwanda': 29,
 'Libya': 29,
 'Iraq': 26,
 'Latvia': 26,
 'Namibia': 25,
 'Bolivia': 25,
 'Senegal': 24,
 'El Salvador': 24,
 'Yemen': 24,
 'Fiji': 23,
 'Moldova': 21,
 'Cameroon': 20,
 'Nicaragua': 19,
 'Mozambique': 19,
 'Bosnia & Herzegovina': 19,
 'North Macedonia': 18,
 'Macao': 18,
 'Laos': 18,
 'Paraguay': 18,
 'Malawi': 17,
 'Angola': 16,
 'Albania': 15,
 'Iceland': 13,
 'Barbados': 13,
 'Honduras': 11,
 'Benin': 10,
 'Réunion': 10,
 'Guyana': 10,
 'Montenegro': 10,
 'Eswatini': 10,
 'Curaçao': 9,
 'Kosovo': 9,
 'Afghanistan': 9,
 'Sint Maarten': 8,
 'Somalia': 8,
 'Maldives': 8,
 'Belize': 8,
 'Samoa': 7,
 'St. Lucia': 7,
 'Liberia': 7,
 'Bermuda': 7,
 'Madagascar': 7,
 'Cayman Islands': 6,
 'Togo': 6,
 'Vanuatu': 6,
 'Palestine': 5,
 'Seychelles': 5,
 'Sierra Leone': 5,
 'Bahamas': 5,
 'Suriname': 5,
 'Congo - Brazzaville': 5,
 'Lesotho': 5,
 'Aruba': 4,
 'Martinique': 4,
 'Kyrgyzstan': 4,
 'Isle of Man': 4,
 'Andorra': 4,
 'New Caledonia': 3,
 'Mauritania': 3,
 'Guadeloupe': 3,
 'Haiti': 3,
 'Niger': 3,
 'Bhutan': 3,
 'Gambia': 3,
 'Syria': 3,
 'Tajikistan': 2,
 'Monaco': 2,
 'Djibouti': 2,
 'Burkina Faso': 2,
 'Timor-Leste': 2,
 'Northern Mariana Islands': 2,
 'Sudan': 2,
 'Liechtenstein': 2,
 'Equatorial Guinea': 1,
 'Cape Verde': 1,
 'St. Kitts & Nevis': 1,
 'Guernsey': 1,
 'Jersey': 1,
 'Cuba': 1,
 'Guam': 1,
 'St. Vincent & Grenadines': 1,
 'Micronesia': 1,
 'Antigua & Barbuda': 1,
 'Grenada': 1,
 'South Sudan': 1,
 'Cook Islands': 1,
 'Western Sahara': 1,
 'Mali': 1,
 'Caribbean Netherlands': 1,
 'Gibraltar': 1}

In [17]:
print(pformat(sorted(df['LandingPage'].unique())))

['(not set)',
 '/',
 '/about-us',
 '/blog',
 '/blog/agencyanalytics-alternatives',
 '/blog/analyze-data',
 '/blog/b2b-marketing-kpis',
 '/blog/best-marketing-dashboard-software',
 '/blog/customer-experience-kpis',
 '/blog/customer-service-kpis',
 '/blog/cyfe-alternatives',
 '/blog/cyfe-vs-geckoboard-vs-datapad',
 '/blog/dashboard-design',
 '/blog/dashboard-reporting-tools',
 '/blog/dashboard-software-for-small-business',
 '/blog/dashboard-tools',
 '/blog/dashthis-alternatives',
 '/blog/databox-alternatives',
 '/blog/databox-pricing',
 '/blog/databox-vs-klipfolio-vs-datapad',
 '/blog/dynamic-dashboard-in-google-sheets',
 '/blog/e-commerce-analytics-tools',
 '/blog/ecommerce-kpi-dashboard',
 '/blog/ecommerce-reporting-tool',
 '/blog/email-marketing-kpis',
 '/blog/excel-dashboard',
 '/blog/excel-interactive-dashboard',
 '/blog/executive-dashboard-software',
 '/blog/executive-reporting',
 '/blog/facebook-kpis',
 '/blog/financial-kpis',
 '/blog/free-dashboard-tools',
 '/blog/geckoboard-alternatives',
 '/blog/google-data-studio-alternatives',
 '/blog/google-sheets-dashboard',
 '/blog/google-sheets-dashboard-templates',
 '/blog/how-to-build-dashboard',
 '/blog/how-to-make-a-chart-in-google-sheets',
 '/blog/how-to-make-a-gantt-chart-in-google-sheets',
 '/blog/how-to-make-a-line-chart-in-google-sheets',
 '/blog/how-to-make-a-pie-chart-in-google-sheets',
 '/blog/how-to-make-bar-graphs-in-google-sheets',
 '/blog/how-to-track-kpis',
 '/blog/hr-kpis',
 '/blog/klipfolio-alternatives',
 '/blog/kpi-dashboard-in-excel',
 '/blog/kpi-dashboard-software',
 '/blog/kpi-examples',
 '/blog/kpi-report',
 '/blog/kpi-tools',
 '/blog/kpis-for-logistics',
 '/blog/kpis-for-operations',
 '/blog/kpis-for-supply-chain',
 '/blog/kpis-google-analytics',
 '/blog/kpis-vs-metrics',
 '/blog/kpis-vs-okrs',
 '/blog/marketing-kpis',
 '/blog/metabase-alternatives',
 '/blog/mobile-dashboards',
 '/blog/operational-dashboards',
 '/blog/plecto-alternatives',
 '/blog/powerbi-alternatives',
 '/blog/product-manager-kpis',
 '/blog/recruitment-kpis',
 '/blog/redash-alternatives',
 '/blog/retail-kpis',
 '/blog/saas-statistics',
 '/blog/sales-dashboard-software',
 '/blog/seo-kpis',
 '/blog/smart-kpis',
 '/blog/social-media-kpis',
 '/blog/software-development-kpis',
 '/blog/startups-kpis',
 '/blog/swydo-alternatives',
 '/blog/what-is-a-kpi',
 '/blog/what-is-kra-and-kpi',
 '/blog/whatagraph-alternatives',
 '/changelog',
 '/data-security',
 '/google-api-services-usage-disclosure',
 '/jobs',
 '/jobs/software-engineer-backend',
 '/jobs/sr-software-engineer-backend',
 '/jobs/sr-software-engineer-frontend',
 '/jobs/sr-software-engineer-full-stack',
 '/join-waitlist',
 '/pricing',
 '/privacy-policy',
 '/shopify',
 '/signup',
 '/terms-of-service']

In [18]:
landing_page_counts = df['LandingPage'].value_counts().to_dict()
sorted_landing_page_counts = dict(sorted(landing_page_counts.items()))
sorted_landing_page_counts

{'(not set)': 3648,
 '/': 3421,
 '/about-us': 83,
 '/blog': 139,
 '/blog/agencyanalytics-alternatives': 160,
 '/blog/analyze-data': 251,
 '/blog/b2b-marketing-kpis': 17,
 '/blog/best-marketing-dashboard-software': 98,
 '/blog/customer-experience-kpis': 21,
 '/blog/customer-service-kpis': 11,
 '/blog/cyfe-alternatives': 116,
 '/blog/cyfe-vs-geckoboard-vs-datapad': 62,
 '/blog/dashboard-design': 585,
 '/blog/dashboard-reporting-tools': 184,
 '/blog/dashboard-software-for-small-business': 260,
 '/blog/dashboard-tools': 543,
 '/blog/dashthis-alternatives': 182,
 '/blog/databox-alternatives': 459,
 '/blog/databox-pricing': 22,
 '/blog/databox-vs-klipfolio-vs-datapad': 132,
 '/blog/dynamic-dashboard-in-google-sheets': 778,
 '/blog/e-commerce-analytics-tools': 16,
 '/blog/ecommerce-kpi-dashboard': 140,
 '/blog/ecommerce-reporting-tool': 23,
 '/blog/email-marketing-kpis': 6,
 '/blog/excel-dashboard': 1869,
 '/blog/excel-interactive-dashboard': 2555,
 '/blog/executive-dashboard-software': 154,
 '/blog/executive-reporting': 195,
 '/blog/facebook-kpis': 212,
 '/blog/financial-kpis': 150,
 '/blog/free-dashboard-tools': 2064,
 '/blog/geckoboard-alternatives': 541,
 '/blog/google-data-studio-alternatives': 318,
 '/blog/google-sheets-dashboard': 176,
 '/blog/google-sheets-dashboard-templates': 3677,
 '/blog/how-to-build-dashboard': 593,
 '/blog/how-to-make-a-chart-in-google-sheets': 7,
 '/blog/how-to-make-a-gantt-chart-in-google-sheets': 209,
 '/blog/how-to-make-a-line-chart-in-google-sheets': 119,
 '/blog/how-to-make-a-pie-chart-in-google-sheets': 105,
 '/blog/how-to-make-bar-graphs-in-google-sheets': 277,
 '/blog/how-to-track-kpis': 895,
 '/blog/hr-kpis': 87,
 '/blog/klipfolio-alternatives': 53,
 '/blog/kpi-dashboard-in-excel': 2712,
 '/blog/kpi-dashboard-software': 227,
 '/blog/kpi-examples': 109,
 '/blog/kpi-report': 37,
 '/blog/kpi-tools': 222,
 '/blog/kpis-for-logistics': 1229,
 '/blog/kpis-for-operations': 418,
 '/blog/kpis-for-supply-chain': 73,
 '/blog/kpis-google-analytics': 215,
 '/blog/kpis-vs-metrics': 1208,
 '/blog/kpis-vs-okrs': 102,
 '/blog/marketing-kpis': 18,
 '/blog/metabase-alternatives': 240,
 '/blog/mobile-dashboards': 171,
 '/blog/operational-dashboards': 211,
 '/blog/plecto-alternatives': 117,
 '/blog/powerbi-alternatives': 315,
 '/blog/product-manager-kpis': 19,
 '/blog/recruitment-kpis': 31,
 '/blog/redash-alternatives': 208,
 '/blog/retail-kpis': 201,
 '/blog/saas-statistics': 149,
 '/blog/sales-dashboard-software': 175,
 '/blog/seo-kpis': 16,
 '/blog/smart-kpis': 868,
 '/blog/social-media-kpis': 19,
 '/blog/software-development-kpis': 2014,
 '/blog/startups-kpis': 71,
 '/blog/swydo-alternatives': 91,
 '/blog/what-is-a-kpi': 257,
 '/blog/what-is-kra-and-kpi': 1544,
 '/blog/whatagraph-alternatives': 78,
 '/changelog': 103,
 '/data-security': 68,
 '/google-api-services-usage-disclosure': 46,
 '/jobs': 164,
 '/jobs/software-engineer-backend': 11,
 '/jobs/sr-software-engineer-backend': 16,
 '/jobs/sr-software-engineer-frontend': 11,
 '/jobs/sr-software-engineer-full-stack': 19,
 '/join-waitlist': 13,
 '/pricing': 267,
 '/privacy-policy': 76,
 '/shopify': 4,
 '/signup': 4,
 '/terms-of-service': 70}